.app {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.blog-post {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000;
}

.blog-post h2 {
  color: #fff;
  margin-bottom: 10px;
}

.blog-post p {
  color: #aaa;
  line-height: 1.6;
}

.loading {
  color: #16ef57;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.error {
  color: #ff0000;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
} 
